target/
**/target/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/logs/
*/logs/
### Example user template template
### Example user template
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
out
gen
